body{
    text-align: center;
}

.rules{
    text-align: left;
}
.btn{
    border: 5px solid black;
    border-radius: 20%;
    height: 150px;
    width: 150px;
    margin: 5px 5px 5px 5px;

}

.btn-container{
    display: flex;
    justify-content: center;
}

.grey{
    background-color: #90ADC6;
}

.white{
    background-color: #3374ff;
}

.yellow{
    background-color: #fad02c;
}

.black{
    background-color: #333652;
}

.flash{
    background-color: white;
}